html,
body {
  width: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#popup-content {
    display: flex;
    gap: 20px;
}

.textarea {
    display: flex;
    flex-direction: column;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

label {
  font-weight: bold;
  margin-bottom: 6px;
}
